<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Python27\python.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-m grpc_tools.protoc -I${project_loc}/grpcprotosrc/src/ --python_out=${project_loc}/grpcprotosrc/gen/Python/ShimmerGrpcPythonLib/ --grpc_python_out=${project_loc}/grpcprotosrc/gen/Python/ShimmerGrpcPythonLib/ ${project_loc}/grpcprotosrc/src/ShimmerGrpcAndOJC.proto"/>
</launchConfiguration>
